learn-webservice/src/main/resources/SimpleWebService.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serve.simple.webservice.learn.lxc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serve.simple.webservice.learn.lxc.com/" name="SimpleWebServiceService">
<types>

    <xs:schema xmlns:tns="http://serve.simple.webservice.learn.lxc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serve.simple.webservice.learn.lxc.com/">

        <xs:element name="BuyReq" type="tns:BuyReq"></xs:element>

        <xs:element name="simple" type="tns:simple"></xs:element>

        <xs:element name="simpleResponse" type="tns:simpleResponse"></xs:element>

        <xs:complexType name="simple">
            <xs:sequence>
                <xs:element name="arg0" type="tns:BuyReq" minOccurs="0"></xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="BuyReq">
            <xs:sequence>
                <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
                <xs:element name="address" type="xs:string" minOccurs="0"></xs:element>
                <xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="simpleResponse">
            <xs:sequence>
                <xs:element name="return" type="tns:buyResp" minOccurs="0"></xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="buyResp">
            <xs:sequence>
                <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
                <xs:element name="totalMoney" type="xs:long" minOccurs="0"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:schema>
</types>
<message name="simple">
<part name="parameters" element="tns:simple"></part>
</message>
<message name="simpleResponse">
<part name="parameters" element="tns:simpleResponse"></part>
</message>
<portType name="SimpleWebService">
<operation name="simple">
<input wsam:Action="http://serve.simple.webservice.learn.lxc.com/SimpleWebService/simpleRequest" message="tns:simple"></input>
<output wsam:Action="http://serve.simple.webservice.learn.lxc.com/SimpleWebService/simpleResponse" message="tns:simpleResponse"></output>
</operation>
</portType>
<binding name="SimpleWebServicePortBinding" type="tns:SimpleWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="simple">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SimpleWebServiceService">
<port name="SimpleWebServicePort" binding="tns:SimpleWebServicePortBinding">
<soap:address location="http://localhost:9090/SimpleWebService"></soap:address>
</port>
</service>
</definitions>